.logo {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s opacity ease-in-out;
}

.logo:hover {
	opacity: 0.8;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}
